* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {height: 100vh;
    color: #ededed;
    background-color: #081b29;
}
header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7%;
}
.logo {
    text-decoration: none;
    color: #ededed;
    font-size: 25px;
}
.navbar a {
    text-decoration: none;
    color: #ededed;
    font-size: 18px;
    margin-left: 35px;
    font-weight: 500%;
}
a:visited{
    color: whitesmoke;
}
a:hover{
    color: blue;
} 

h1 {margin: 1px 0 1px;
    padding: 10px 7%;
    color: lightgray;
}
h2 {margin: 1px 0 1px;
    padding: 10px 7%;
    color: lightgray;
}
h3 {
    margin: 1px 0 1px;
    padding: 10px 7%;
    color: aqua;
}
p {
    padding: 10px 7%;
    font-size: 25px;
    color: lightgray;
}
.container {
    margin-top: 60px;
    margin-left: 450px;
    margin-right: 450px;
    width: 400px;
    height: 500px;
    background: #333;
    line-height: 3em;
    border-radius: 1rem;
    border: 2px solid lightcyan;
}
.container h1 {
    text-align: center;
    color: whitesmoke;
    border-bottom: 3px dotted lightcyan;
    border-radius: 0.8rem 0.8rem 0 0;
    font-style: italic;
    letter-spacing: 1px;
    background-color: #333;
}
.container p {
    color: whitesmoke;
    font-size: 18px;
}
.container p a {
    font-size: 13px;
    padding: 3px 2%;
    color: whitesmoke;
    text-decoration: none;
    text-decoration: none;
    border: 2px solid lightcyan;
    border-radius: 0.5rem;
    background-color: black;
}
.container p label {
    text-align: left;
}
.container p input {
    font-size: 16px;
    text-align: center;
    border: 3px solid lightblue;
    font-weight: 200;
}
address {
    margin-top: 14px;
    font-size: 22px;
    font-style: normal;
    margin-left: 21px;
    padding: 3px 2%;
    line-height: 1;
}
.container span p {
    margin-top: 7px;
    font-size: 25px;
    line-height: 2px;
} 
.container span ul li p {
    font-size: 18px;
}
span ul li {
    list-style-type: square;
    line-height: 2;
    margin-left: 43px;
}
abbr {
    text-decoration: none;
    cursor: pointer;
}